
    <footer id="footer">
        <div class="footerContent">
            Copyright &copy; 2013-2021 David R Edgar

            <span class="footerRight">
              <a href="feed"><img src="{{ theme_url }}/RSS-logo_18.png"> RSS feed</a>
            </span>
        </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
